<div class="container">
  <h2 class="center" > welcome to your </h2>
  <h1> <strong>Track Daily Progress</strong></h1>
  <h2 class="center"> application</h2>
  <h3 class="welcome submitBtn center"><%= link_to "Sign up now!", new_user_registration_path %></h3>
</div>
