@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/* mixins, variables, etc. */

$blue-grey: #a1aac7;
$blue-dark: #1d1d2c;
$blue-light: #e1e2e7;
$blue-light-2x: #ecedf1;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
@mixin fixed_bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* global */

body {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  background: $blue-light;
}

header {
  margin-bottom: 5%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

input, textarea {
  border: 1px solid rgb(201, 194, 194);
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

.center {
  text-align: center;
  h1 {
    padding-bottom: 1px;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3.5em;
  letter-spacing: -1px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  padding: 0 10% 0 10%;
}

// navigation bar

nav {
  a{
    padding: 4% 2%;
    color:$blue-grey;
    height: 100%;
    display: block;
    font-size: 0.9em;
  }
  a:hover {
    background-color: $blue-grey;
    color: $blue-dark;
    text-decoration: none;
  }
  z-index: 2;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: $blue-dark;
  height: 8%;
  @include fixed_bottom();
}

/* logo */

.logoBar {
  background-color: $blue-grey;
}

#logo {
  margin-top: 10px;
  font-family: 'Bungee Inline', 'Times New Roman', Times, serif;
  font-size: 1.5em;
  color: $blue-dark;
}

#user {
  padding-bottom: 4px;
}

.userName {
  margin-right: 25%;
  color: $blue-dark;
}

// Goal
.goal {
  background: $blue-light-2x;
  margin-bottom: 5%;
}

.startTime {
  margin-bottom: 2px;
}

.tracks {
  display: flex;
  flex-wrap: nowrap;
}

.tracktime {
  flex-grow: 2;
}


.track {
  padding: 0;
  margin: 2px;
  font-size: 0.8em;
}

.fas {
  font-size: 2em;
}

i:hover {
  font-size: 2.5em;
}

.icon-green{
  color:rgb(27, 218, 27)
}

// Project
.project {
  background: $blue-light-2x;
  margin-bottom: 5%;
}